@import url('https://fonts.googleapis.com/css2?family=Itim&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*ตั้งค่าทั่วไป*/
body{
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

/*ตั้งค่าส่วนหัวของหน้าเว็บ*/
header {
    background: #333;
    color: #fff;
    padding: 1px;
    text-align: center;
}

header h1 {
    font-size: 35px;
}

/*เมนูนำทาง*/
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-flex;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: gray;
    text-decoration: underline;
}

/*ตั้งค่าส่วนของ section hero*/
section.hero {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}

section.hero h1 {
    font-size: 25px;
}

section.hero p {
    font-size: 21px;
}

/*ตั้งค่าส่วนที่มี class highlights*/
.highlights {
    text-align: center;
}

section.highlights p {
    margin: 2em 29em 3em;
}

/*ตั้งค่ารูปภาพ*/
img {
    width: 960px;
    height: 640px;
    border-radius: 20px;
    border: 4px solid;
    border-color: #333;
}

/*ตั้งค่า footer ให้อยู่ตรงกลาง*/
footer p {
    text-align: center;
}

/*ตั้งค่า article*/
article {
    text-align: center;
}

article p {
    margin: 2em 29em 3em;
}

/*ตั้งค่า main*/
main h1 {
    text-align: center;
    font-size: 25px;
    margin-top: 2em;
    margin-bottom: 2em;
}

/*ตั้งค่า form ให้อยู่ตรงกลาง*/
form {
    text-align: center;
}

/*ตั้งค่าปุ่ม*/
button {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: green;
}